<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cell</key>
		<array>
			<integer>16759807</integer>
			<integer>16756409</integer>
			<integer>16747625</integer>
			<integer>16725171</integer>
			<integer>10170623</integer>
			<integer>10669402</integer>
			<integer>9342520</integer>
		</array>
		<key>bgcell</key>
		<real>15657130</real>
		<key>bg</key>
		<real>16119228</real>
		<key>name</key>
		<string>默认</string>
	</dict>
	<dict>
		<key>cell</key>
		<array>
			<integer>16759807</integer>
			<integer>16756409</integer>
			<integer>16747625</integer>
			<integer>16725171</integer>
			<integer>10170623</integer>
			<integer>10669402</integer>
			<integer>9342520</integer>
		</array>
		<key>bgcell</key>
		<integer>9662683</integer>
		<key>bg</key>
		<real>15132410</real>
		<key>name</key>
		<string>轻盈</string>
	</dict>
	<dict>
		<key>cell</key>
		<array>
			<integer>16759807</integer>
			<integer>16756409</integer>
			<integer>16747625</integer>
			<integer>16725171</integer>
			<integer>10170623</integer>
			<integer>10669402</integer>
			<integer>9342520</integer>
		</array>
		<key>bgcell</key>
		<integer>4620980</integer>
		<key>bg</key>
		<real>11393254</real>
		<key>name</key>
		<string>暗黑</string>
	</dict>
	<dict>
		<key>cell</key>
		<array>
			<integer>16759807</integer>
			<integer>16756409</integer>
			<integer>16747625</integer>
			<integer>16725171</integer>
			<integer>10170623</integer>
			<integer>10669402</integer>
			<integer>9342520</integer>
		</array>
		<key>bgcell</key>
		<integer>16744272</integer>
		<key>bg</key>
		<real>16773365</real>
		<key>name</key>
		<string>粉红</string>
	</dict>
</array>
</plist>
